%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "App_Name"
    %meta{:content => content_for?(:description) ? yield(:description) : "App_Name", :name => "description"}
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    %script{:src => "http://code.highcharts.com/highcharts.js"}
    = csrf_meta_tags
    = yield(:head)
  %body{"ng-app"  => 'fantasy_app'}
    %div(nav_bar)
  #main{:role => "main"}
    .container
      .content
        .row
          .span12
            -#= render 'layouts/messages'
          %div(ui-view)
        %footer

